td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
table{
    border-collapse: collapse;
}

.edit_button{
    background-color: green;
    color: white;
}

.delete_button{
    background-color: red;
    color: white;
}

.inventory_add_form{
    border: 1px solid #dddddd;
    margin-bottom: 2px;
}